@import "../defaults.scss";

.button {
    border: 1px solid white;
    border-radius: 3px;
    color: grey;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
} 

.primary {
    background-color: white;
    color: black;
    border: 1px solid;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        opacity: 80%;
    }
}

.secondary {
    background-color: $color-secondary;
    color: white;
    transition: 0.2s ease-in-out;
    &:hover {
        opacity: 80%;
    }
}