@import './defaults.scss';

.App {
  text-align: center;
}

.PageHeader{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-size: 2rem;
  font-weight: 350;
  background-color: white;
  border: 1px solid;
  border-color: $color-primary;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: steps(2);
}

ul{
  list-style:none;
  padding:0;
  margin:0;
  margin-bottom: steps(4);
}

li{
  padding: steps(2);
  border-bottom: 1px solid $color-primary;
  margin-bottom: steps(1);
}

.h2class {
  font-size: 2rem;
  text-decoration: underline;
  font-weight: 700;
  background-color: chartreuse;
}

.element {
  padding: steps(4);
  margin: steps(5);
  border: steps(4);
  background-color: $color-primary;
  border-color: $color-secondary;
  font-size: 2rem;
}

.FancyButton {
  background-color: cadetblue;
  border: 2px solid cornflowerblue;
  font-size: clamp(28px, 4vw, 43px);
  padding: steps(5);
  margin-bottom: steps(4);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.FancyButton:hover{
  background-color: blueviolet;
  color: white;
}

.FancyButton:active{
  background-color: cornflowerblue;
  color: black;
}

@include for-at-least(){
  .FancyButton {
    background-color: black;
    color: wheat;
  }
}

.container {
  max-width: 1600px;
  padding: 0 steps(4);
  margin: 0 auto;
}

.form {
  margin-bottom: steps(5);
  display: flex;
  justify-content: between;
  flex-wrap: wrap;

  div{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: steps(2);
    width:100%;
  }

  input {
    width: 100%;
    padding: steps(2);
    border: 1px solid $color-primary;
    border-radius: steps(1);
  }
}